<div class="container pb-3">
  <div class="row">
    <div class="col">
      <h2>{{ title }}</h2>
    </div>
  </div>
</div>

<div class="container pb-3">
  <div class="row">
    <div class="col"><h4>Alert</h4></div>
  </div>
  <div class="row">
    <div class="col"><ngbd-alert-basic /></div>
  </div>
</div>

<div class="container pb-3">
  <div class="row">
    <div class="col"><h4>Buttons</h4></div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success">Success</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger">Danger</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-warning">Warning</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-info">Info</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Light</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-dark">Dark</button>
    </div>
  </div>
</div>

<div class="container pb-3">
  <div class="row">
    <div class="col"><h4>Table</h4></div>
  </div>
  <div class="row">
    <div class="col"><ngbd-table-basic /></div>
  </div>
</div>